.flex-container {
    display: flex;
    flex-direction: row;
    align-items: auto;
    justify-content: center;
    column-gap: 1em;
}

.flex-child {
    width: 30%;

}

@media screen and (max-width: 1024px) {
    .flex-container {
        flex-direction: column;
        row-gap: 1.4em;
        justify-content: center;
        padding: 0 20px;
    }
    .flex-child {
        width: 100%;
        order: 1;
    }

    .flex-container > :nth-child(1) {
        order: 2;
    }

    .flex-container > :nth-child(3) {
        order: 3;
    }
}

.page h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.explanation {
    font-size: .9em;
    line-height: 1.5;
    text-align: left;

    p {
        margin-bottom: 10px;
        justify-content: justify;
    }

    ul {
        padding-left: 1px;
    }

    strong {
        padding: 0 4px;
        &::after {
            content: '  ';
        }
    }
}
